<MudPaper Width="250px" Class="nav-container" Elevation="0" Square="true">

    <div class="nav-header">
        <MudText Typo="Typo.h6">Starlight.Launcher</MudText>
        <MudText Typo="Typo.body2" Color="Color.Secondary">
            Secondary Text
        </MudText>
    </div>

    <MudDivider Class="my-2" />

    <MudNavMenu Class="mud-width-full pa-2">
        <MudNavLink Icon="@Icons.Material.Filled.Home"
                    IconColor="@Color.Secondary"
                    Href="/"
                    Match="NavLinkMatch.All">
            Home
        </MudNavLink>
    </MudNavMenu>

</MudPaper>