@page "/"

@using Starlight.Launcher.Components.Atoms.ServerList

<div>
    <div>
        <MudVirtualize Items="FavoriteServers"
                       Context="server"
                       ItemSize="56"
                       OverscanCount="3">
            <ServerItem @key="server.Address" Data="server" IsInFavorites="@(FavoriteServers.Contains(server))" OnInfoNeeded="HandleInfoNeeded" OnFavorites="async x => await HandleFavorite(x)" />
        </MudVirtualize>
    </div>
</div>